@font-face {
  font-family: "Exo 2";
  src:
      url("https://benuelbertran.github.io/nyam/fonts/Exo2-Thin-100.eot") format("Embedded-Opentype"),
      url("https://benuelbertran.github.io/nyam/fonts/Exo2-Thin-100.ttf") format("TrueType"),
      url("https://benuelbertran.github.io/nyam/fonts/Exo2-Thin-100.woff") format("Woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src:
      url("https://benuelbertran.github.io/nyam/fonts/TrebuchetMS-Regular-400.eot") format("Embedded-Opentype"),
      url("https://benuelbertran.github.io/nyam/fonts/TrebuchetMS-Regular-400.ttf") format("TrueType"),
      url("https://benuelbertran.github.io/nyam/fonts/TrebuchetMS-Regular-400.woff") format("Woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Exo 2";
  src:
      url("https://benuelbertran.github.io/nyam/fonts/TrebuchetMS-Bold-700.eot") format("Embedded-Opentype"),
      url("https://benuelbertran.github.io/nyam/fonts/TrebuchetMS-Bold-700.ttf") format("TrueType"),
      url("https://benuelbertran.github.io/nyam/fonts/TrebuchetMS-Bold-700.woff") format("Woff");
  font-weight: 700;
  font-style: normal;
}
